body, table, input, textarea, select { font-family:Verdana; font-size:12px; }
body { text-align:center; }

#page { width:920px; margin:20px auto; text-align:left; position:relative; }

#banner { height:105px; overflow:hidden; }
#logo { margin-bottom:20px; }

a.image { border: 0; }
img { border: 0; }

#panel { position:absolute; top:0px; right:0px; width:209px; min-height:200px; margin-top:100px; border:1px dashed #fff; border-left-color: #ccc; padding:10px 20px; color:#aaa; line-height:20px; }
#panel:focus { background-color:#f7f7f7; outline: none; color:#444; border-color: #aaa; }

.c { text-align:center; }
.r { text-align:right; }

a, select, input, textarea { outline:none; }

p { margin: 0 0 10px 0; }
input.checkbox { border:0; margin:0px; }
select { margin-right:2px; }

a { text-decoration:none; cursor:pointer; }
a:hover { text-decoration:underline; }

.g { color:#aaa; }

ul.nav { list-style:none; margin:0px 0px 10px 0px; padding:0px; overflow:auto; }
ul.nav li { float:left; }
ul.nav li a { background-color:#eee; color:#333; border:1px solid #999; padding:3px 6px 3px 6px; display:block; margin-right:4px; text-decoration:none; }
ul.nav li a:hover { background-color:#f9f9f9; cursor:pointer; }
ul.nav li.download a { padding-left: 18px; position: relative; }
ul.nav li.download a img { position: absolute; top: 2px; left: 1px; }

h1 { font-weight:normal; padding-left:3px; font-size:19px; margin-bottom:22px; }
h2 { font-weight:normal; padding-left:3px; font-size:17px; margin-top:10px; }

hr { border-width:1px 0px 0px 0px; border-style:dashed; border-color:#ccc; width:200px; margin:30px 0px 20px 0px; padding:0px; }

/* table */
table					{ width:650px; }
table td, table th		{ padding:4px; border-bottom:1px solid #eee; vertical-align:top; min-height:20px; }
table tr.last td		{ border-bottom: 0; }
table tr.admin.last td	{ border-bottom:1px solid #eee; }
th						{ text-align:left; font-weight:normal; color:#aaa; }
table tr.admin td		{ background-color:#ffe; }
.deleted, .deleted a	{ color:#ccc; text-decoration: line-through; }

table td.file-type, table th.file-type			{ width:16px; text-align:center; padding: 5px 3px 1px 3px; }
table td.delete, table th.delete				{ text-align:center; }
table td.is_published, table th.is_published	{ width:20px; text-align:center; }
table td.checkbox, table th.checkbox			{ width:20px; text-align:center; padding-top: 2px; }
table td.draggy									{ width:20px; padding:0px; cursor:move; background:#fff url(/login/images/move.png) no-repeat 4px 5px; }
table td.image, table td.image-alt				{ width:60px; }

table tr.group td						{ height:40px; vertical-align:bottom; text-transform:uppercase; font-weight:bold; font-size:11px;	 }
table tr.depth-1 td a					{ margin-left:16px; }
table tr.depth-2 td a					{ margin-left:32px; }
table tr.depth-3 td a					{ margin-left:48px; }
table tr.depth-4 td a					{ margin-left:64px; }
table tr.depth-5 td a					{ margin-left:80px; }
table tr.depth-6 td a					{ margin-left:96px; }
table tr td a.delete					{ margin-left: 0; }
table td.empty							{ height:220px; background-color:#f4f4f4; text-align:center; font:italic 15px/18px Georgia; border:1px solid #ddd; vertical-align:middle; color:#888; }
table td.updated, table td.date			{ white-space: nowrap; }

table tr.dragclass td {
	border-width:1px 0px 1px 0px;
	border-color:#000;
	border-style:solid;
}
table td input.checkbox { margin-top:6px; }
span.light { color:#ccc; font-size:12px; }
#sql { width:610px; height:100px; padding:19px; border:1px dashed #ccc; background-color:#ffe; margin:20px 0px 20px 0px; font-family:Consolata, Droid Sans Mono, monospace; font-size:13px; }
div.web_page_msg { width:632px; padding:10px; border:1px dashed #ccc; background-color:#ffe; margin:20px 0px 20px 0px; font-size:13px; }
table tr td div.empty { font-style:italic; text-transform:lowercase; opacity:.75; display:inline; }

/* login */
body.login { background-color:#ddd; color:#fff; width:100%; height:100%; margin:0px; padding:0px; }
form#login { position:absolute; top:50%; left:50%; margin:-143px 0px 0px -243px; text-align:left; width:400px; height:200px; background-color:#445566; padding:40px; border:6px solid #aaa; -webkit-border-radius: 20px; -moz-border-radius: 20px; border-radius: 20px; }
form#login fieldset { border:none; padding:0px; margin-top:40px; }
form#login legend { display:none; }
form#login span.additional { display: none; }
form#login div.submit { margin-top: 10px; }
form#login label { text-align: right; margin-right: 10px; width: 100px; }

/* form */
input, textarea					{ border:1px solid #ccc; padding:3px; margin:0px;  }
input.text, input.file, input.email	{ width:270px; }
input.file						{ border-color:#fff; }
input.password					{ width:200px; }
input.button					{ background-color:#f0f0f0; border:1px outset #ddd; min-width:140px; padding:3px 10px 3px 10px; }
input.button:hover				{ background-color:#fff; cursor:pointer; }

input.submit					{ background-color:#f0f0f0; border:1px outset #ddd; min-width:140px; padding:3px 10px 3px 10px; }
input.submit:hover				{ background-color:#fff; cursor:pointer; }

textarea.textarea				{ font-family:'Courier New', Courier; font-size:13px; height:160px; width:537px; margin-bottom:7px; }
textarea.tinymce				{ width:537px; height:300px; margin-bottom:7px; }

#page form fieldset				{ border:none; padding:0px; width:800px; }
#page form legend				{ display:none; }

form div.field					{ min-height:25px; overflow:auto; padding-bottom:5px; line-height:23px; width: 660px; }
form div.field.translation		{ display: none; opacity: .7; }
form div.field.translation span.translation		{ display: block; font-size: 11px; }
form div.file img.preview		{ float:left; clear:left; margin:0 0 10px 110px; }

form label						{ min-height:25px; line-height:17px; padding-top:3px; width:110px; display:block; float:left; clear:left; }
form label a					{ display: block; font-size:11px; }
/* form label span.additional 		{ display:block; margin:4px 10px 0px 0px; } */
form div.img img				{ display:block; margin:10px 10px 10px 110px; }

form div.datetime div.date		{ float: left; display: inline; }
form div.datetime div.time		{ float: left; display: inline; margin-left: 7px; }
form div.checkboxes				{ margin-bottom: 10px; }
form ul							{ margin:0px; padding:0px; float:left; list-style-type:none; }
form ul li						{ width:164px; margin:2px 2px 6px 16px; float:left; font-size:11px; }
form div.checkboxes	ul			{ line-height:10px; margin-top:5px; float: left; width: 550px; }
form div.checkboxes ul label		{ float:none; min-height: 0; padding: 0; margin: 0 0 0 3px; line-height: 12px; display: inline; }
form div.checkboxes ul label:hover	{ background-color: #f0f0f0; cursor: pointer; }
form div.checkboxes ul input		{ margin-left:-16px; }

div.created_user, div.updated_user { opacity: .5; }

form input.submit				{ margin:10px 0px 0px 110px; }
/*
#page input.big					{ font-size:20px; width:500px; }
#page input.medium, #page form div.field_1 input.text	{ font-size:16px; width:400px; }
form span.option_name			{ cursor:pointer; padding:1px; margin-left:2px; }
*/
form span.additional			{ color:#999; font-size:11px; line-height:10px; margin-left:7px; }

/* div object */
form div.html table				{ width:548px; }
form div.html table thead		{ display:block; }
form div.html table thead th	{ width:400px; }
form div.html table tbody td	{ width:400px; }
form div.html table tbody		{ display:block; max-height:200px; overflow:auto; }

input.error						{ border-color:#f6546b; background-color:#ffadb9; }
label.error						{ display: none !important; }


/* nested list */
.placeholder { background:#eee !important; border:0; }
.ui-nestedSortable-error { background:#fbe3e4; color:#8a1f11; }
ul.nested { list-style-type:none; margin:0; padding:0; display: block; width:650px; }
ul.nested li { margin:0; padding:0; line-height:16px; }

ul.nested li div.row { cursor:move; margin:-1px 0 0 0; padding:4px 0 4px; background:#fff; border:1px solid #eee; overflow: auto; }
ul.nested li div.column { float: left; }
ul.nested li div.published { width:24px; }
ul.nested li div.level_1 div.link { width: 465px; }
ul.nested li div.level_2 div.link { width: 443px; }
ul.nested li div.level_3 div.link { width: 421px; }
ul.nested li div.level_4 div.link { width: 399px; }
ul.nested li div.level_5 div.link { width: 377px; }
ul.nested li div.level_6 div.link { width: 355px; }
ul.nested li div.updated { width: 140px; text-align: right; margin-right: 5px; }
ul.nested li div.delete { width: 10px; }

ul.nested li ul { list-style-type:none; padding:0; margin-left:10px; background:url(/login/images/vline.png) repeat-y; }
ul.nested li ul li { background:url(/login/images/node.png) no-repeat; margin:0 -12px 0 0; padding:0px 12px 0px 12px; }
ul.nested li input[type=checkbox] { margin-right:10px; margin-left:5px; }
ul.nested li ul li:last-child { background:url(/login/images/lastnode.png) no-repeat; }

/*debugging nested list*/
#panel table { width: 209px; }
#panel table tr td:first-child { width:40px; }